*{
    margin: 0;
    padding: 0;
}
#grid-container{
    
    grid-template-areas: 'header header header header header header header header'
    'header header header header header header header header '
    'header header header header header header header header '
    'header header header header header header header header '
    'left profile about about about about about right'
    'left profile about about about about about right'
    'left profile about about about about about right'
    'left scroll-left scroll-left scroll-left scroll-right scroll-right scroll-right right'
    'left scroll-left scroll-left scroll-left scroll-right scroll-right scroll-right right'
    'left scroll-left scroll-left scroll-left scroll-right scroll-right scroll-right right'
    'left scroll-left scroll-left scroll-left scroll-right scroll-right scroll-right right' 
    'left arrow arrow arrow arrow arrow arrow right'
    'left para para para para para para right'    ;
    display: grid;
    
}
#grid-item1 {grid-area: header;}
#grid-item2 {grid-area: left;}
#grid-item3 {grid-area: profile;}
#grid-item4 {grid-area: about;}
#grid-item5 {grid-area: right;}
#grid-item6 {grid-area: scroll-left;}
#grid-item7 {grid-area: scroll-right;}
#grid-item8 {grid-area: arrow;}
#grid-item9 {grid-area: para;}

#grid-item1 {
    background-image: url(../image/snap1.jpeg);
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no repeat;
}

.header h2{
    width: 30%;
    float: left;
    margin-left: 150px;
    padding-top: 20px;
    font-size: 30px;
    font-family: Bernard MT Condensed;
    color: white;
}
.nav-bar ul{
    width: 50%;
    float: right;
    padding-top: 23px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-family: Bahnschrift Light SemiCondensed;

}
.nav-bar ul li{
    display: inline;
    list-style: none;
    padding: 20px;
}
.nav-bar ul li a:hover{
    color: orangered;
}
#caption{
    clear: both;
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 1.5;
}
#caption span{
    color: orangered;
}
#grid-container > div{
    align-content: center;
    padding: 20px;
}
#grid-item3{
    margin-left: 80px;
    margin-top: 15px;
}
#grid-item3 img{
    
    border: 1px solid orangered;
    border-radius: 100px;
}
#grid-item4 {
    text-align: center;
}
#grid-item4 h2{
    padding: 20px 0;
}
#grid-item6 p{
    padding: 12px;
}
#grid-item7 p{
    padding: 12px;
}
#bar{
    background-color: gray;
    width: 100%;
}
#scroll{
    background-color: orangered;
    width: 75%;
}
#grid-item8 i{
    font-size: 25px;
    color:orangered ;
    margin-left: 640px;
    padding: 20px;
}

#grid-container2{
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(6, 6, 56);

}
#grid-item9 h2{
    color: orangered;
    text-align: center;
    padding: 12px;
}
#grid-item9 p{
    color: white;
    text-align: center;
    
}

#grid-item9 ul li a{
    text-decoration: none;
    color: white;
}
#grid-item9 ul li{
    list-style: none;
    display: inline;
    padding-right: 25px;
}
#grid-item9 ul{
    padding-left: 400px;
    padding-top: 20px;
}
#grid-item9 ul li a:hover{
    color: orangered;
}
a:hover{
    color: orangered;
}
#grid-container3{
    display: grid;
    height: 400px;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(6, 6, 56);
    justify-content: center;
    grid-gap: 10px;
    align-content:center;
    width: 100%;
}
#grid-item18{
    background-color: rgb(6, 6, 56);
    
}
#grid-item18 i{
    color: orangered;
    font-size: 22px;
    margin-left: 650px;
    padding: 20px;
}
#grid-container4{
    display: grid;
    
    grid-template-areas: 'left services services services services services services right'
    'left services services services services services services right'
    'left box1 box1 box2 box2 box3 box3 right'
    'arrow arrow arrow arrow arrow arrow arrow arrow ';
    
}
#grid-container4 > div{
    /* border: 1px solid black; */
    text-align: center;
    padding: 20px;

}
#grid-item19{grid-area: left;}
#grid-item20{grid-area: services;}
#grid-item21{grid-area: right;}
#grid-item22{grid-area: box1;}
#grid-item23{grid-area: box2;}
#grid-item24{grid-area: box3;}
#grid-item25{grid-area: arrow;}


#grid-item25 i{
    font-size: 25px;
    color: orangered;
}

#grid-container5 > div{
    /* border: 1px solid black; */
    text-align: center;
    padding: 20px;
}

#grid-item27{grid-area: contact;}
#grid-item29{grid-area: icons;}
#grid-item30{grid-area: form1;}
#grid-item31{grid-area: form2;}
#grid-item32{grid-area: form3;}
#grid-item33{grid-area: form4;}
#grid-item34{grid-area: form5;}
#grid-item35{grid-area: copyrights;}

#grid-container5{
    background-color: rgb(6, 6, 56);
    display: grid;
    color: white;
    grid-template-areas: 'left contact contact contact contact contact contact right'
    'left icons icons icons icons icons icons right'
    'left form form form form form form right'
    'left form1 form1 form2 form2 form3 form3 right'
    'left form4 form4 form4 form4 form5 form5 right'
    'left copyrights  copyrights copyrights copyrights copyrights copyrights right';
}
#grid-item27 h2{
    color: orangered;
    padding: 15px;
}
#grid-item29 i{
    padding-right: 20px;
    font-size: 20px;
    color: white;
}

#name{
    width: 100%;
    background: transparent;
    font-size: 16px;
}
#email{
    width: 100%;
    background: transparent;
    font-size: 16px;

}
#phone{
    width: 100%;
    background: transparent;
    font-size: 16px;

}
#message{
    width: 100%;
    background: transparent;
    font-size: 16px;

}
#submit{
    float: right;
    font-size: 17px;
    background: transparent;
    color: orangered;
}
#grid-item35 span{
    color: orangered;
}
#backtotop{
    color: orangered;
    position: fixed;
    bottom: 15px;
    right: 30px;
    font-size: 30px;
    padding: 5px;
    
}
